﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ES6 Demo - @ViewBag.Title</title>
    <link href="~/dist/css/style.min.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ES6 Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewBag.ContentTitle == "Destructoring" ? "active" : "")"><a href="@Url.Action("Index", "Home")">Destructuring</a></li>
                    <li class="@(ViewBag.ContentTitle == "Template Strings" ? "active" : "")"><a href="@Url.Action("TemplateStrings", "Home")">Template Strings</a></li>
                    <li class="@(ViewBag.ContentTitle == "Classes" ? "active" : "")"><a href="@Url.Action("Classes", "Home")">Classes</a></li>
                    <li class="@(ViewBag.ContentTitle == "React" ? "active" : "")"><a href="@Url.Action("React", "Home")">React</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
<script src="~/dist/js/assets.min.js"></script>
    @RenderSection("Javascript", required: false)
    @RenderSection("InlineScript", required: false)
</body>
</html>
