﻿@{
    ViewBag.Title = "Classes";
    ViewBag.ContentTitle = "Classes";
}

<div class="jumbotron">
    <h1>@ViewBag.ContentTitle</h1>
    <p class="lead">JavaScript classes are introduced in ECMAScript 6 are syntactical sugar over JavaScript's existing prototype-based inheritance. The class syntax is not introducing a new object-oriented inheritance model to JavaScript. JavaScript classes provide a much simpler and clearer syntax to create objects and deal with inheritance.</p>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#classes">Classes</a></li>
</ul>

<div class="tab-content">
    <div id="classes" class="tab-pane fade in active">
        @Html.Partial("~/Views/Examples/_Classes.cshtml")
    </div>
</div>
@section Javascript{
    <script src="~/dist/js/app.min.js"></script>
}