﻿@{
    ViewBag.Title = "Destructoring";
    ViewBag.ContentTitle = "Destructoring";
}

<div class="jumbotron">
    <h1>@ViewBag.ContentTitle</h1>
    <p class="lead">Destructuring is a convenient way of extracting values from data stored in (possibly nested) objects and Arrays.</p>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#objects">Objects</a></li>
    <li><a data-toggle="tab" href="#arrays">Arrays</a></li>
    <li><a data-toggle="tab" href="#advanced-objects">Advanced Objects</a></li>
    <li><a data-toggle="tab" href="#parameters">Parameters</a></li>
</ul>

<div class="tab-content">
    <div id="objects" class="tab-pane fade in active">
        @Html.Partial("~/Views/Examples/_DestructuringObjects.cshtml")
    </div>
    <div id="arrays" class="tab-pane fade">
        @Html.Partial("~/Views/Examples/_DestructuringArrays.cshtml")
    </div>
    <div id="advanced-objects" class="tab-pane fade">
        @Html.Partial("~/Views/Examples/_DestructuringAdvancedObjects.cshtml")
    </div>
    <div id="parameters" class="tab-pane fade">
        @Html.Partial("~/Views/Examples/_DestructuringParameters.cshtml")
    </div>
</div>

<div id="code-output" class="well display-none" style="margin-top: 10px">
</div>

@section Javascript{
    <script src="~/dist/js/app.min.js"></script>
}