﻿@model dynamic

@{
    ViewBag.Title = "React";
    ViewBag.ContentTitle = "React";
}

<h2>title</h2>
<div id="todo-list-container"></div>

@section Javascript {
    <script src="~/dist/js/components/ToDoList.min.js"></script>
}
@section InlineScript {
    <script>
        ReactDOM.render(React.createElement(TodoList, null), document.getElementById("todo-list-container"))
    </script>
}