﻿@{
    ViewBag.Title = "Template Strings";
    ViewBag.ContentTitle = "Template Strings";
}

<div class="jumbotron">
    <h1>@ViewBag.ContentTitle</h1>
    <p class="lead">Template literals are string literals allowing embedded expressions. You can use multi-line strings and string interpolation features with them. They were called "template strings" in prior editions of the ES2015 / ES6 specification.</p>
</div>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#template-strings">Template Strings</a></li>
</ul>

<div class="tab-content">
    <div id="template-strings" class="tab-pane fade in active">
        @Html.Partial("~/Views/Examples/_TemplateStrings.cshtml")
    </div>
</div>

<div id="code-output" class="well display-none" style="margin-top: 10px">
</div>

@section Javascript{
    <script src="~/dist/js/app.min.js"></script>
}