﻿<div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Common Code</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var generateTwoNumbers = function(fnCallback){
        fnCallback(Math.floor(Math.random() * 11), Math.floor(Math.random() * 11));
    }
    </code>
    </pre>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var addNumbers = function(a, b) {
        return a + b;
    }

    generateTwoNumbers(function (a, b) {
        console.log(a, b);
    });
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var addNumbers = (a, b) => {
        return a + b;
    }

    generateTwoNumbers((a, b) => { console.log(a, b); });

    generateTwoNumbers((a, b) =>  console.log(a, b) ); //One-liners don't need brackets/semi-colon

    generateTwoNumbers(a =>  console.log(a++)); //Functions with one parameter can just execute a function directly

    [0, 1, 2].map(val => val++); //[1, 2, 3]
    </code>
    </pre>
        </div>
    </div>
</div>