﻿<div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    function Parent(){
        //constructor
    }
    Parent.prototype.printName = function() { /* Print Name */ }
    Parent.prototype.setName = function() { /* Set Name */ }
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    class Parent {
        constructor(){

        }
        printName() { /* Print Name */ }
        setName() { /* Set Name */ }
    }

    class Child extends Parent {
        constructor(){
            super();
        }
        goToSchool() { /* Go To School */ }
    }

    var child = new Child();
    child.printName();
    child.goToSchool();
    </code>
    </pre>
        </div>
    </div>
</div>