﻿<div>
<div class="row text-center">
    <div class="col-md-12">
        <p><strong>Goal: </strong>Modify a method to take in an extra parameter.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    function calcBMI(weight, height, successCallback){
        var bmi = (w * 703 / Math.pow(h,2)).toFixed(2);
        successCallback(bmi);
    }
    //calcBMI(170, 62, function(bmi){ console.log(bmi) }) ==> 31.09

    function calcBMI(weight, height, max, successCallback){
        if(!max){
            max = 25
        }

        var bmi = weight * 703 / Math.pow(height,2);
        if(bmi > max){
            bmi += " - You're overweight'";
        }

        successCallback(bmi);
    }
    //calcBMI(170, 62, function(bmi){ console.log(bmi) }) ==> ERROR (successCallback is undefined)
    //calcBMI(170, 62, null, function(bmi){ console.log(bmi) }) ==> 31.09 - You're overweight
    //calcBMI(170, 62, 35, function(bmi){ console.log(bmi) }) ==> 31.09
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    function calcBMI({weight: w, height: h, max=25, successCallback}){
        var bmi = w * 703 / Math.pow(h,2);

        if(bmi > max){
            bmi += " - You're overweight'";
        }

        if(successCallback) {
            successCallback(bmi);
        }
    }
    //calcBMI({ weight: 170, height: 62, successCallback: function(bmi){ console.log(bmi) } }) ==> 31.09 - You're overweight
    //calcBMI({ max: 50, weight: 170, height: 62, successCallback: function(bmi){ console.log(bmi) } }) ==> 31.09
    </code>
    </pre>
        </div>
    </div>
</div>