﻿<div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Common Code</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var names = ["Hammad", "Michael", "Jim", "Aron", "Josh", "Gen", "Eric"];
    </code>
    </pre>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <p><strong>Goal: </strong>Grab the first two values from the array.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var firstPerson = names[0];
    var secondPerson = names[1];
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var [ firstPerson, secondPerson ] = names

    </code>
    </pre>
        </div>
    </div>
</div>