﻿<div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Common Code</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var name = "Scott Rupprecht";
    var languages = ["C#", "Java", "Javascript", "PHP", "CSS", "HTML"];
    var classes = ["CS412", "CS433", "CS381", "CS382", "CS250"];
    </code>
    </pre>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-12">
        <p><strong>Goal: </strong>Combine three seperate properties into a single object.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var student = {
        name: name,
        languages: languages,
        classes: classes,
        dateCreated: getCurrentDate()
    }
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var student = {
        name,
        languages,
        classes,
        dateCreated: getCurrentDate()
    }
    </code>
    </pre>
        </div>
    </div>
</div>