﻿<div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Common Code</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var scottRupprecht = {
        id: 135882,
        firstName: "Scott",
        lastName: "Rupprecht",
        jobTitle: "Software Developer",
        education:{
            college: "UW-Whitewater",
            highSchool: "Fort Atkinson High School"
        },
        hometown: "Fort Atkinson"
    }
    </code>
    </pre>
    </div>
</div>
    <div class="row text-center">
        <div class="col-md-12">
            <p><strong>Goal: </strong>Extract the firstName, lastName, and id properties into seperate variables.</p>
        </div>
    </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var id = scottRupprecht.id;
    var firstName = scottRupprecht.firstName;
    var lastName = scottRupprecht.lastName;
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">

    { id, firstName, lastName} = scottRupprecht

    </code>
    </pre>
        </div>
    </div>
</div>