﻿<div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var a = 0;
    if(true){
        a = 1;
        var b = 2;
    }

    console.log(a); // 1
    console.log(b); // 2 (Silly javascript...)
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    let a = 0;
    if(true){
        a = 1;
        let b = 2;
    }

    console.log(a); // 1
    console.log(b); // undefined
    
    const c = 12;
    c = 13 //ERROR, cannot modify const

    //let is the new var (indicates value is going to change)
    //primitive constant cannot be mutated.
    //object constant cannot be changed, but values can be modified
    </code>
    </pre>
        </div>
    </div>
</div>