﻿<div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Common Code</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var name = prompt("What is your name?");
    var age = prompt("What is your age?");
    var color = prompt("What is your favorite color?");
    </code>
    </pre>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>ES5</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var output = "Hi " + name + ". It's nice to meet you. You are " + age + " years old.\n"
               + "Your favorite color is " + color + ".";

    alert(output);
    </code>
    </pre>
                </div>
                <div class="col-md-6">
                    <h2>ES6</h2>
    <pre>
    <code class="language-javascript line-numbers">
    var output = `Hi ${name}. It's nice to meet you. You are ${age} years old. 
    Your favorite color is ${color}.`;

    alert(output);
    </code>
    </pre>
        </div>
    </div>
</div>